<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Index</title>
</head>

<body>

    <div id="wrapper">
        <div id="nav">
            <a href="">Home | </a>
            <a href="projects">Projects | </a>
            <a href="contact">Contact</a>
        </div>
        <div id="body">
            <h2>About Me</h2>
            <div class="left">
                <img src="~/images/DaxSushi.jpg" alt="Picture" class="img-thumbnail">
                <p>Hi I'm Dax!</p>
                <p>I'm a huge piece of Salmon Nigiri!</p>
            </div>
            <p class="right">I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! I like stuff! </p>
        </div>
    </div>
</body>