<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>

<body>

    <div id="wrapper">
        <div id="nav">
            <a href="">Home | </a>
            <a href="projects">Projects | </a>
            <a href="contact">Contact</a>
        </div>
        <h2>Here are some projects</h2>
        <div id="body">
            <div class="left">
                <img src="~/images/DaxSushi.jpg" alt="dog" class="img-thumbnail">
                <img src="~/images/DaxSushi.jpg" alt="dog" class="img-thumbnail">
                <img src="~/images/DaxSushi.jpg" alt="dog" class="img-thumbnail">
            </div>
            <div class="right" class="prog">
                <p>This was a a project to create the first dog/sushi hybrid. NOT EDIBLE</p>
                <br>
                <p>This was a a project to create the first dog/sushi hybrid. NOT EDIBLE</p>
                <br>
                <p>This was a a project to create the first dog/sushi hybrid. NOT EDIBLE</p>
            </div>
        </div>
    </div>
</body>